@model PruebaDBP.Models.Usuario
@{
    ViewData["Title"] = "Perfil";
}

<main class="flex items-center justify-center w-fit bg-gray-100 p-5">
    <div class="columns-1 space-y-5 place-self-center justify-items-center w-fit md:w-10/12">
        <figure class="bg-slate-50 rounded-xl p-2 grid md:grid-cols-5 gap-4 columns-1 md:columns-2">
            <img class="w-24 h-24 md:w-48 md:h-48 md:flex rounded-full mx-auto" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.webp" srcset="@Html.DisplayFor(modelItem => modelItem.UrlFoto)" alt="" width="384" height="512">
            <div class="pt-0 md:p-5 text-left space-y-4 ml-5 md:col-span-4">
                <figcaption class="font-medium columns-1 md:columns-2">
                    <div class="text-sky-500">
                        Usuario: <label class="text-slate-600 font-small">@Html.DisplayFor(modelItem => modelItem.Username)</label>
                    </div>
                    <div class="text-sky-500">
                        Nombre: <label class="text-slate-600 font-small">@Html.DisplayFor(modelItem => modelItem.NomUsuario) @Html.DisplayFor(modelItem => modelItem.ApeUsuario)</label>
                    </div>
                </figcaption>
                <figcaption class="font-medium columns-2">
                    <div class="text-slate-700">
                        Fecha de ult. actividad: 18/08/22
                    </div>
                    <a class="block w-fit text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" data-mdb-ripple="true" data-mdb-ripple-color="light" asp-controller="Usuario" asp-action="EditarPerfil" asp-route-id="@Model.IdUsuario">Editar perfil</a>
                </figcaption>
                <div class="columns-1">
                    <div class="text-md font-medium h-10 w-50">
                        Descripción
                    </div>
                    <div class="text-sm font-small h-auto w-50">
                        @{  if (Model.Descripcion != null)
                            {
                                @Html.DisplayFor(modelItem => modelItem.Descripcion)
                            }
                            else
                            {
                                <label class="text-slate-600 font-small">No hay una descripción</label>
                            }
                
                        }
                        
                    </div>
                </div>
            </div>
        </figure>
        
        <figure class=" grid gap-2 grid-cols-1">
            <p class="grid justify-items-center md:justify-items-start  text-2xl">Agregados recientemente</p>
            @for(int i=0; i<10; i++){
                <div class="container bg-slate-50 rounded-xl grid justify-items-center mt-10 ">
                    <figure class=" flex items-center bg-slate-50 rounded-xl p-2 grid grid-cols-4 md:grid-cols-6 gap-2 justify-content-center flex justify-center">
                        <img class="w-fit h-fit md:w-32 md:h-48 flex md:rounded-none mx-auto" src="/images/avatar.jpg" alt="" width="384" height="512">
                        <div class="pt-0 md:p-5 text-left space-y-4 ml-5 col-span-3 md:col-span-5 ">

                            <div class="text-sky-900 text-3xl text-left">
                                <a asp-controller="Pelicula" asp-action="Index">Avatar</a>
                            </div>
                            <div class="columns-1 md:columns-2 grid md:grid-cols-3 gap-0 md:gap-4">
                                <div class="md:col-span-2">
                                    <figcaption class="font-medium columns-2">
                                        <div class="text-sky-500">
                                            Director: <label class="text-slate-600 font-small">James Cameron</label>
                                        </div>
                                        <div class="text-sky-500">
                                            Año: <label class="text-slate-600 font-small">2009</label>
                                        </div>
                                    </figcaption>

                                    <blockquote>
                                        <div class="h-auto w-auto md:py-2 font-small text-[0px] md:text-base mt-0 md:mt-3 ">
                                            <div class="font-medium text-sky-500 mb-2">Sinopsis</div>
                                            Corre el año 2154. Jake Sully es un antiguo marine que vive postrado en una silla de ruedas, pero cuya determinación y valentía se mantienen intactas. Ahora, tiene una misión entre manos: viajar a Pandora, un planeta del que los humanos extraen...
                                        </div>
                                    </blockquote>
                                </div>

                                <div>
                                    <figure class="grid md:grid-rows-5 columns-2 md:columns-1 gap-2 flex items-start md:items-end">
                                        <div class="md:row-start-2 md:row-end-3 text-sm "><a asp-controller="Estanteria" asp-action="Libreria"><p>Ciencia ficción</p></a></div>

                                        <div class="text-slate-700 flex justify-self-start md:row-start-3 md:row-end-4 ">
                                            <ul class="flex justify-center">
                                                <li>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                                    </svg>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                                    </svg>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                                    </svg>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                                    </svg>
                                                </li>
                                                <li>
                                                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="heart" class="w-3.5 text-red-500" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z"></path>
                                                    </svg>
                                                </li>
                                            </ul>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </figure>
                </div>
            }

       </figure>
    </div>
</main>