@model PruebaDBP.Models.IndexDirector
@{
    ViewData["Title"] = "Director";
}
<main class="flex items-center justify-center h-auto bg-gray-100 pt-20">
    <div class="mx-5 container mb-2 w-4/4 md:w-3/4">
        <figure class="md:p-2 flex flex-md-column bg-slate-50 rounded-xl lg:gap-10">
            <img class="w-24 h-36 md:w-40 md:h-60 block md:rounded-none" src="/images/default.png" srcset="@Model.director.UrlFoto" alt="" width="384" height="512">
            <div class="pt-0 md:p-5 text-left space-y-4 ml-5 md:col-span-4">
                <figcaption class="font-medium columns-1">
                    <div class="text-2xl text-black-500">
                        @Model.director.NomDirector
                    </div>
                </figcaption>
                <div class="columns-1">
                    @if(Model.director.BioDirector != "")
                    {
                        <div class="text-sm font-small h-auto w-50">
                            @Model.director.BioDirector
                        </div>
                    }
                    else
                    {
                        <div class="text-sm font-small h-auto w-50">
                            La biografía de este director no está disponible.
                        </div>
                    }
                </div>
            </div>
        </figure>
        <figure class=" grid gap-4 grid-cols-1">
            <p class="grid justify-items-center md:justify-items-start  text-2xl mt-10">Películas</p>
            <div class="container bg-slate-100 rounded-xl grid justify-items-center ">
                @foreach(var item in Model.listPeliculas)
                {
                    <div class="container my-2">
                        <figure class="md:p-2 flex flex-md-column bg-slate-50 rounded-xl lg:gap-10">
                            <img class="px-2 py-3 w-24 h-36 md:w-40 md:h-60 block md:rounded-none" src="/images/default.png" srcset="@item.UrlFoto"
                                alt="" width="384" height="512">
                            <div class="pt-0 md:p-3 text-left space-y-4 ml-5">
                                <figcaption class="font-medium columns-1">
                            <div class="text-2xl text-black-500 my-2">
                                <a asp-controller="Pelicula" asp-action="Index" asp-route-id="@item.IdTmdb">@item.NomPelicula</a>
                            </div>
                        </figcaption>
                        <figcaption class="font-medium columns-2">
                            <div class="text-sky-500 px-8">
                                Fecha de estreno
                            </div>
                            <div class="text-sky-500">
                                Valoración
                            </div>
                        </figcaption>
                        <figcaption class="font-medium columns-2">
                            <div class="text-black-500 px-8">
                                @item.FechaEstreno
                            </div>
                            <div>
                                <div class="text-slate-700 flex justify-self-start mx-5 md:row-start-3 md:row-end-4 ">
                                    <div class="text-slate-700 flex justify-center">
                                            <div class=" py-1">
                                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                                                <path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                                </svg>
                                            </div>
                                            <p>@item.Valoracion</p>
                                    </div>
                                </div>
                            </div>
                        </figcaption>
                            <blockquote>
                                <div class="h-auto w-auto md:py-2 font-small text-[0px] md:text-base mt-0 md:mt-3 ">
                                    <div class="font-medium text-sky-500 mb-2">Sinopsis</div>
                                    @if(item.Sumilla == "")
                                    {
                                        <p>Sumilla no disponible</p>
                                    }
                                    else
                                    {
                                        <p>@item.Sumilla</p>
                                    }
                                    
                                </div>
                            </blockquote>
                            </div>
                        </figure>
                    </div>
                }

            </div>
        </figure>

        
    </div>
</main>