@model PruebaDBP.Models.IndexPelicula;
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Pelicula";
}

<main class="flex items-center justify-center h-auto bg-gray-100 pt-5">
    <div class="columns-1 space-y-5 place-self-center w-19/20 md:w-10/12">
        <figure class="justify-items-center bg-slate-50 rounded-xl p-2 grid md:grid-cols-5 gap-4 columns-1 md:columns-2">
            <div class=""><img class=" md:mx-3 w-64 h-auto md:w-68 md:h-auto lg:w-72 lg:h-auto block md:rounded-none" src="/images/default.png" srcset="@Model.objPelicula.UrlFoto" width="384" height="512"></div>

            <div class="pt-0 md:p-5 text-left space-y-4 ml-5 md:col-span-4">
                <figcaption class="font-medium columns-1">
                    <div class="text-2xl text-black-500">
                        @Model.objPelicula.NomPelicula
                    </div>
                </figcaption>
                <figcaption class="font-medium columns-3">
                    <div class="text-sky-500">
                        Director
                    </div>
                    <div class="text-sky-500">
                        Año
                    </div>
                    <div class="text-sky-500">
                        Valoración
                    </div>
                </figcaption>
                <figcaption class="font-medium grid  grid-cols-3">
                    <div class="text-black-500">
                        <a asp-controller="Director" asp-action="Index">James Cameron</a>
                    </div>
                    <div class="text-black-500">
                        @Model.objPelicula.FechaEstreno
                    </div>
                    <div>
                        <div class="text-slate-700 flex justify-self-start mx-5 md:row-start-3 md:row-end-4 ">
                            <div class="text-slate-700 flex justify-center">
                                <div class=" py-1">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star"
                                        class="w-4 text-yellow-500 mr-1" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 576 512">
                                        <path fill="currentColor"
                                            d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z">
                                        </path>
                                    </svg>
                                </div>
                                <p>4.5</p>
                            </div>
                        </div>
                    </div>
                </figcaption>
                <div class="columns-1">
                    <div class="text-sky-500 text-md font-medium h-10 w-50">
                        Sinopsis
                    </div>
                    <div class="text-sm font-small h-auto w-50">
                        @Model.objPelicula.Sumilla
                    </div>


                </div>
                <!--Tags-->
                <div
                    class="text-xs m-2 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z">
                        </path>
                    </svg>
                    <p class="px-2 text-right">Fantasia</p>
                </div>
                <div
                    class="text-xs m-2 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z">
                        </path>
                    </svg>
                    <p class="px-2 text-right">Aventura</p>
                </div>
                <div
                    class="text-xs m-2 inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gray-200 text-gray-500 rounded-full">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 4v16M17 4v16M3 8h4m10 0h4M3 12h18M3 16h4m10 0h4M4 20h16a1 1 0 001-1V5a1 1 0 00-1-1H4a1 1 0 00-1 1v14a1 1 0 001 1z">
                        </path>
                    </svg>
                    <p class="px-2 text-right">Aventura</p>
                </div>
                <!--Fin Tags-->
                <div class="float-right"> @Model.objPelicula.IdIdioma </div>
            </div>
        </figure>

        @if(Model.usuario != null )
        {
                <figure
                class="justify-center md:flex items-center md:justify-center rounded-xl p-2 grid md:grid-cols-5 gap-4 columns-1 md:columns-3">
                    <!--Dropdown estantería-->
                <div class="dropdown relative">
                        <button
                        class="w-6/6 sm:w-auto dropdown-toggle bg-gray-700 text-white px-5 py-3.5 sm:py-2.5 text-center font-medium text-sm leading-tight rounded-lg hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg active:text-white transition duration-150 ease-in-out flex items-center justify-center whitespace-nowrap mr-3 lg:mr-5"
                        type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Añadir a Estantería
                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="w-2 ml-2"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path fill="currentColor"
                                d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z">
                                </path>
                            </svg>
                        </button>
                        <ul class="dropdown-menu w-full absolute hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded-lg shadow-lg mt-1 hidden m-0 bg-clip-paddingborder-none"
                        aria-labelledby="dropdownMenuButton1">
                            @foreach(var est in Model.listEstanterias)
                            {
                                <li>
                                    <a
                                    class="dropdown-item text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-gray-700 hover:bg-gray-300"
                                    asp-controller="Pelicula" asp-action="AgregarPelicula" asp-route-idPel = "@Model.objPelicula.IdPelicula" asp-route-idEst = "@est.IdEstanteria"
                                    >@est.NomEstanteria</a>
                                
                                </li>
                                
                            }

                        </ul>
                    </div>
                    <!-- fin dropdown-->
                <button type="button"
                    class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 lg:mr-5"
                    data-bs-toggle="modal" data-bs-target="#valorar">Valorar</button>
                    <button type="button"
                    class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3"
                    data-bs-toggle="" data-bs-target="" id="btnVisto">Vista</button>


                </figure>


        }
        
        <figure class=" grid gap-4 grid-cols-1">
            <p class="grid justify-items-center md:justify-items-start  text-2xl">Comentarios de la Comunidad</p>
            <button hidden type="button"
                class="w-52 text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3"
                data-bs-toggle="modal" data-bs-target="#formComentario" id="commentInput">Agregar un comentario</button>
            <div class="container bg-slate-100 rounded-xl grid justify-items-center ">
                @for (int i = 0; i < 5; i++)
                {
                    <figure class=" grid gap-4 grid-cols-1 mb-5">
                        <div class="container bg-slate-50 rounded-xl grid justify-items-center">
                            <figure
                            class="  bg-slate-50 rounded-xl p-2 grid grid-cols-4 md:grid-cols-6 gap-2 justify-content-center flex justify-center">
                                <div class="pt-8"><img class="  rounded-full w-fit h-fit md:w-28 md:h-28 flex  mx-auto"
                                    src="/images/gatoPerfil.jpg" alt="" width="384" height="512"></div>

                                <div class="pt-0 md:p-5 text-left space-y-4 ml-5 col-span-3 md:col-span-5 ">

                                    <div class="text-black-500 text-xl text-left">
                                        <a asp-controller="Usuario" asp-action="Perfil">PepinilloCosmico267</a>
                                        <!--Flag
                                    <svg data-bs-toggle="modal" data-bs-target="#reportar" aria-hidden="true"
                                        focusable="false" data-prefix="fas" data-icon="fa-pennant"
                                        class="opacity-50 float-right cursor-pointer w-7 h-7 mx-5" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="currentColor"
                                            d="M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z">
                                            </path>
                                        </svg>
                                        Fin Flag-->
                                </div>
                                    <div class="columns-1 md:columns-2 grid md:grid-cols-3 gap-0 md:gap-4">
                                        <div class="md:col-span-2">
                                            <figcaption class="font-medium columns-2">
                                                <div class="text-sky-500">
                                                    Fecha: <label class="text-slate-600 font-small">10/09/2022</label>
                                                </div>
                                            </figcaption>

                                            <blockquote>
                                                <div class="h-auto w-auto py-2 text-sm ">
                                                    Buena peli la vi cuando era pequeño y la verdad es que me gusto bastante
                                                    y de vez en cuando la miro de nuevo, la recomiendo plenamente.
                                                </div>
                                            </blockquote>
                                        </div>

                                        <div>
                                            <figure
                                            class="grid md:grid-rows-5 columns-2 md:columns-1 gap-2 flex items-start md:items-end">
                                                <div class="font-medium text-sky-500 md:row-start-2 md:row-end-3 text-sm ">
                                                    Valoración Individual</div>

                                                <div
                                                class="text-slate-700 flex justify-self-start md:row-start-3 md:row-end-4 ">
                                                    <ul class="flex justify-center">
                                                        <li>
                                                            <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                            data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                </path>
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                            data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                </path>
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg aria-hidden="true" focusable="false" data-prefix="fas"
                                                            data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                </path>
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg aria-hidden="true" focusable="false" data-prefix="far"
                                                            data-icon="heart" class="w-3.5 text-red-500 mr-1" role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z">
                                                                </path>
                                                            </svg>
                                                        </li>
                                                        <li>
                                                            <svg aria-hidden="true" focusable="false" data-prefix="far"
                                                            data-icon="heart" class="w-3.5 text-red-500" role="img"
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor"
                                                                d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z">
                                                                </path>
                                                            </svg>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </figure>
                }

            </div>
        </figure>
        <!-- Codigo del MODAL Valorar-->
        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
            id="valorar" tabindex="-1" aria-labelledby="valoraPelicula" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
                <div
                    class="px-5 modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                    <div
                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                        <h5 class="text-xl font-medium leading-normal text-gray-800" id="registroLibreriaLabel">
                            ¡Valora la película!
                        </h5>
                        <button type="button"
                            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/Pelicula/ValorarPelicula" method="post">
                        <select name="valoracion"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected>Selecciona una opción</option>
                            <option value="calif1">(1) Mala</option>
                            <option value="calif2">(2) Ok</option>
                            <option value="calif3">(3) Buena</option>
                            <option value="calif4">(4) Muy Buena</option>
                            <option value="calif5">(5) Excelente</option>
                        </select>
                        <div
                            class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                            <button type="button"
                                class="inline-block px-6 py-2.5 bg-stone-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-stone-700 hover:shadow-lg focus:bg-stone-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-stone-600 active:shadow-lg transition duration-150 ease-in-out"
                                data-bs-dismiss="modal">
                                Cerrar
                            </button>
                            <button type="submit"
                                class="inline-block px-6 py-2.5 bg-cyan-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-cyan-800 hover:shadow-lg focus:bg-cyan-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cyan-700 active:shadow-lg transition duration-150 ease-in-out ml-1"
                                data-bs-dismiss="modal">
                                Guardar
                            </button>
                    </form>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Codigo del MODAL Comentario FORM-->
        <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
            id="formComentario" tabindex="-1" aria-labelledby="" aria-modal="true" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-centered relative w-auto pointer-events-none">
                <div
                    class="px-5 modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                    <div
                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                        <h5 class="text-xl font-medium leading-normal text-gray-800" id="registroLibreriaLabel">
                            Añade un comentario
                        </h5>
                        <button type="button"
                            class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body items-center justify-center ">
                        <form class="w-full bg-white rounded-lg px-4 pt-2">
                            <div class="flex flex-wrap -mx-3 mb-6 ">
                                <div class="px-3 mb-2 mt-2 w-full">
                                    <textarea maxlength="10" id="comentario"
                                        class=" bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-16 py-2 px-3 font-medium placeholder-gray-400 focus:outline-none focus:bg-white"
                                        name="body" placeholder='Escribe tu comentario' required></textarea>
                                </div>
                                <div class="w-full md:w-full  md:w-full px-3 ">
                                    <div class="-mr-1  columns-2 ">
                                        <div class="">
                                            <input type='submit'
                                                class="bg-white text-gray-700 font-medium py-1 px-4 border border-gray-400 rounded-lg tracking-wide mr-1 hover:bg-gray-100"
                                                value='Enviar'>
                                        </div>
                                        <div class="text-end px-5 py-1 text-orange-700 ">
                                            <p hidden id="advertencia">Límite de caracteres alcanzado</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div
                        class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-gray-200 rounded-b-md">
                        <button type="button"
                            class="inline-block px-6 py-2.5 bg-stone-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-stone-700 hover:shadow-lg focus:bg-stone-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-stone-600 active:shadow-lg transition duration-150 ease-in-out"
                            data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>



</main>

<script>

    const btn = document.getElementById("btnVisto");
    const comment = document.getElementById("commentInput");
    let index = 0;
    const colors = ['#0284c7', '#374151'];
    const visibility = [false, true];

    btn.addEventListener('click', function onClick() {

        btn.style.backgroundColor = colors[index];
        btn.style.color = 'white';
        comment.hidden = visibility[index];
        index = index >= colors.length - 1 ? 0 : index + 1;
        
        
    });

</script>
<script>
    const input = document.getElementById("comentario")
    const error = document.getElementById("advertencia")

    input.addEventListener("input", checkLength)

    function checkLength() {
        const commentLength = input.value.length
        const maxLength = input.maxLength
        if (commentLength == maxLength) {
            error.hidden = false

        }
        else {
            error.hidden = true
        }
    }
</script>

<!---->